<%-include("../../partials/head_objetos")%>

<main >
    <%-include("../../partials/navbar")%>

    <div style="flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; width: 70%; text-align: center;">
    <h1> Galeria </h1>

    <h2>Imagens</h2>
    <div style="display: flex; flex-direction: column; gap: 5px;">
        <% for(let i = 0; i<imagens.length; i++) { %>
            <img src="https://image.tmdb.org/t/p/w500<%=imagens[i].file_path%>">
        <%}%>
    </div>

    <h2>Videos</h2>
    <p style="margin-left: 4%; text-align: justify;">Eu tentei colocar os vídeos por aqui, mas deu ruim (por enquanto). Então pra ver os vídeos clique no link do youtube...</p>
    <div id="videos">
        <% for(let i = 0; i<videos.length; i++) { %>
                <div class="video_interno">
                    <% if (videos[i].official = true) {%>
                        <p><%=videos[i].type%>: Oficial</p>
                    <% } else { %>
                        <p><%=videos[i].type%>: Não oficial %></p>
                    <% } %>
                    <a target="_blank" href="https://www.youtube.com/watch?v=<%=videos[i].key%>"> <%=videos[i].name %></a>
                </div>
        <%}%>
    </div>
    </div>
</main>