<!DOCTYPE html>
<html>
    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <main>
            <% if(result.length > 0) { %>
                <%for(let i = 0; i<result.length; i++) { %>
                    <div class="item">
                        <h3><%=result[i].volumeInfo.title%>: <%=result[i].id%></h3>
                        <%if (result[i].searchInfo) { %>
                            <p>"<%=result[i].searchInfo.textSnippet%>"</p>
                        <% } %>
                        <% if(result[i].volumeInfo.imageLinks) { %>
                        <img src="<%=result[i].volumeInfo.imageLinks.thumbnail%>">
                        <% } else { %>
                            <img src="/img/nocapa.jpg" height="200px" width="auto">
                        <% } %>
                        <% if (result[i].volumeInfo.authors){ %>
                             <%for(let e = 0; e<result[i].volumeInfo.authors.length; e++) { %>
                                <li><%=result[i].volumeInfo.authors[e]%></li>
                            <%}%> 
                        <% } %>
                        <h4><%=result[i].volumeInfo.subTitle%></h4>
                        <%if (result[i].volumeInfo.categories) { %>
                            <h4> Categorias: </h4>
                            <%for(let e = 0; e<result[i].volumeInfo.categories.length; e++) { %>
                                <li><%=result[i].volumeInfo.categories[e]%></li>
                            <%}%> 
                        <%}%>
                        <h4><%=result[i].volumeInfo.publisher%> -<%=result[i].volumeInfo.publishedDate%></h4>
                        <h4>pages: <%=result[i].volumeInfo.pageCount%></h4>
                        </br>
                        <div style="max-width: 70%; display: flex; justify-self: center;">
                            <h4><%=result[i].volumeInfo.description%></h4>
                        </div>
                    </br>
                        <a href="/addLivro/<%=result[i].id%>"><button>Adicionar a lista!</button></a>
                    </div>
                <%}%>
                <div class="recado">
                    <h4>Não encontro o que procurava? Tente outra vez</h4>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
            <%} else {%>
                <div class="recado">
                    <h1 style="text-align: center;">Nenhum titulo encontrado, confira se digitou corretamente, ou ainda não o temos</h1>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
                <%}%>
        </main>
    </body>
</html>