<!DOCTYPE html>
<html>
    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <main>
            <% if(result.length > 0) { %>
                <%for(let i = 0; i<result.length; i++) { %>
                    <div class="item">
                        <h3><%=result[i].title%>: <%=result[i].id%></h3>
                        <div id="top">
                            <% if(result[i].top) {%>
                                <h4>Top <%=result[i].top%> do Artista em <%=result[i].available_countries%> países </h4>
                            <% } else {%>
                                <h4>Hit do artista em <%=result[i].available_countries%> países</h4>
                            <% } %>
                        </div>
                        <% for(let e = 0; e<result[i].contributors.length;e++) {%>
                            <a href="/musicos/<%=result[i].contributors[e].id%>" style="color: black;"><%=result[i].contributors[e].name%>;</a>
                        <% } %>
                        <h4><%=result[i].release_date%></h4>
                        <h4><%=result[i].album.title%></h4>
                        <%if (result[i].album.cover) { %>
                            <img src="<%=result[i].album.cover%>">
                        <% } %>
                        <h4><%=result[i].duration%></h4>
                        <% if(result[i].preview) { %>
                        <audio controls style="width:70%">
                           <source src="<%=result[i].preview%>" type="audio/mp3">
                           Não foi possível carregar o áudio.
                        </audio>
                        
                        <% } %>
                        <% if (result[i].adicionado == false) { %>
                        <a href="/addMusica/<%=result[i].id%>"><button>Adicionar a lista!</button></a>
                    <% } else {%>
                        <div>
                            <p>Já adicionado à sua lista!</p>
                        </div>
                        <% } %>
                    </div>
                <%}%>
                <div class="recado">
                    <h4>Não encontro o que procurava? Tente outra vez</h4>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
            <%} else {%>
                <div class="recado">
                    <p><%=result.erro %></p>
                    <h1 style="text-align: center;">Nenhum titulo encontrado, confira se digitou corretamente, ou ainda não o temos</h1>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
                <%}%>
        </main>
    </body>
</html>