<!DOCTYPE html>
<html>
    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <main>
            <% if(result.length > 0) { %>
                <%for(let i = 0; i<result.length; i++) { %>
                    <div class="item">
                        <h3><%=result[i].title%>: <%=result[i].id%></h3>
                        <h4><%=result[i].artist.name%></h4>
                        <h4><%=result[i].album.title%></h4>
                        <%if (result[i].album.cover) { %>
                            <img src="<%=result[i].album.cover%>">
                        <% } %>
                        <h4><%=result[i].duration%> minutos</h4>
                        <% if(result[i].preview) { %>
                        <audio controls style="width:70%">
                           <source src="<%=result[i].preview%>" type="audio/mp3">
                           Não foi possível carregar o áudio.
                        </audio>
                        
                        <% } %>
                        
                        <a href="/addMusica/<%=result[i].id%>"><button>Adicionar a lista!</button></a>
                    </div>
                <%}%>
                <div class="recado">
                    <h4>Não encontro o que procurava? Tente outra vez</h4>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
            <%} else {%>
                <div class="recado">
                    <h1 style="text-align: center;">Nenhum titulo encontrado, confira se digitou corretamente, ou ainda não o temos</h1>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
                <%}%>
        </main>
    </body>
</html>