<!DOCTYPE html>
<html>
    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <main>
            <% if(result.length > 0) { %>
                <%for(let i = 0; i<result.length; i++) { %>
                    <div class="item">
                        <h3><%=result[i].title%>: <%=result[i].id%></h3>
                        <% if(result[i].poster_path) { %>
                        <img src="https://image.tmdb.org/t/p/w500<%=result[i].poster_path%>" height="300px" width="auto">
                        <% } else { %>
                            <img src="/img/nocapa.jpg" height="200px" width="auto">
                        <% } %>
                        <h4><%=result[i].runtime%></h4>
                        <% if (result[i].vote_average !== 0) {%>
                            <h4><%=result[i].vote_average%>/10</h4>
                        <% } %>
                        <% if (result[i].genres) { %>
                        <h4> Gênero: </h4>
                            <%for(let e = 0; e<result[i].genres.length; e++) { %>
                                <li><%=result[i].genres[e].name%></li>
                            <%}%>
                        <% } %> 
                        <% if (result[i].production_companies) { %>
                        <h4> Produtores: </h4>
                            <%for(let e = 0; e<result[i].production_companies.length; e++) { %>
                                <li><%=result[i].production_companies[e].name%></li>
                            <%}%>
                        <% } %> 
                        <h4><%=result[i].release_date%></h4>
                        <h4><%=result[i].origin_country%>-<%=result[i].original_language%> (<%=result[i].original_title%>)</h4>
                        </br>
                        <div style="max-width: 70%; display: flex; justify-self: center;">
                            <h4><%=result[i].overview%></h4>
                        </div>
                    </br>
                       <% if (result[i].adicionado == false) { %>
                        <a href="/addTv/<%=result[i].id%>&filme"><button>Adicionar a lista!</button></a>
                    <% } else {%>
                        <div>
                            <p>Já adicionado à sua lista!</p>
                        </div>
                        <% } %>
                    </div>
                <%}%>
                <div class="recado">
                    <h4>Não encontro o que procurava? Tente outra vez</h4>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
            <%} else {%>
                <div class="recado">
                    <h1 style="text-align: center;">Nenhum titulo encontrado, confira se digitou corretamente, ou ainda não o temos</h1>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
                <%}%>
        </main>
    </body>
</html>