<!DOCTYPE html>
<html>
    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <main>
            <% if(result.length > 0) { %>
                <%for(let i = 0; i<result.length; i++) { %>
                    <div class="item">
                        <h3><%=result[i].name%>: <%=result[i].id%></h3>
                        <h5><%=result[i].tagline%></h5>
                        <% if(result[i].poster_path) { %>
                        <img src="https://image.tmdb.org/t/p/w500<%=result[i].poster_path%>" height="300px" width="auto">
                        <% } else { %>
                            <img src="/img/nocapa.jpg" height="200px" width="auto">
                        <% } %>
                        <% if(result[i].vote_average > 0.0) { %>
                            <h4>
                                <%=result[i].vote_average%>/10
                            </h4>
                        <% } %>
                        <% if (result[i].genres) { %>
                        <h4> Gênero: </h4>
                            <%for(let e = 0; e<result[i].genres.length; e++) { %>
                                <li><%=result[i].genres[e].name%></li>
                            <%}%>
                        <% } %> 
                        <% if(result[i].production_companies) { %>
                        <h4> Produtores: </h4>
                            <%for(let e = 0; e<result[i].production_companies.length; e++) { %>
                                <li><%=result[i].production_companies[e].name%></li>
                            <%}%>
                        <% } %> 
                        <% if(result[i].created_by) { %>
                        <h4>Criado por: </h4>
                            <% for(let e = 0; e<result[i].created_by.length; e++) {%>
                                <li><%=result[i].created_by[e].name%></li>
                        <% } %> 
                        <% } %>
                        <% if (result[i].networks) {%>
                            <h4>Disponível em: </h4>
                            <% for (let e = 0; e < result[i].networks.length; e++) { %>
                                <li><%=result[i].networks[e].name%></li>
                            <% } %>
                        <% } %>
                            </br>
                        <h4>★<%=result[i].first_air_date%> - ✞<%=result[i].last_air_date%></h4>
                        <h4><%=result[i].origin_country%>-<%=result[i].original_language%> (<%=result[i].original_name%>)</h4>
                        <h4>Episódios: <%=result[i].number_of_episodes%></h4>
                        <h4>Temporadas: <%=result[i].number_of_seasons%></h4>
                        <% if(result[i].episode_run_time) { %>
                            <h4>Tempo estimado dos episódios: <%=result[i].episode_run_time%> min</h4>
                        <% } %>
                        </br>
                        <div style="max-width: 70%; display: flex; justify-self: center;">
                            <h4><%=result[i].overview%></h4>
                        </div>
                    </br>
                       <% if (result[i].adicionado == false) { %>
                        <a href="/addTv/<%=result[i].id%>&serie"><button>Adicionar a lista!</button></a>
                    <% } else {%>
                        <div>
                            <p>Já adicionado à sua lista!</p>
                        </div>
                        <% } %>
                    </div>
                <%}%>
                <div class="recado">
                    <h4>Não encontro o que procurava? Tente outra vez</h4>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
            <%} else {%>
                <div class="recado">
                    <h1 style="text-align: center;">Nenhum titulo encontrado, confira se digitou corretamente, ou ainda não o temos</h1>
                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                </div>
                <%}%>
        </main>
    </body>
</html>