<!DOCTYPE html>
<html>

    <!--VERSAO-->

    

    <script>

        function mensagem (data) {
            if(cont != 0){
            const sms = document.createElement("div")
            const nome = document.createElement("p")
            const p = document.createElement("p")
            const hora = document.createElement("p")
            nome.classList.add("nome")
            hora.classList.add("hora")
            if(data[data.length -1].usuario == "Euu"){
                sms.classList.add("propria")
            } else {
                sms.classList.add("mensagem")
            }  
            
            sms.appendChild(nome)
            sms.appendChild(p)
            sms.appendChild(hora)
            nome.textContent = data[data.length -1].usuario
            p.textContent = data[data.length -1].mensagem
            hora.textContent = data[data.length -1].hora
        
            document.getElementById("tela_interna").appendChild(sms);
            
        }cont = 1}

        let versao = null
        let cont = 0

        async function atualizar() {
                const response = await fetch('http://localhost:3000/chat?json=true');
                const data = await response.json();
            
                if (JSON.stringify(data) !== JSON.stringify(versao)) {
                    versao = data;
                    mensagem(data)
                    
        }}

        setInterval(atualizar, 3000);

        window.onload = function() {
            window.scrollTo(0, document.body.scrollHeight);
        }


        function abrir() {
            const modal = document.querySelector(".modal-fundo");
            modal.style.opacity = 1;
            modal.style.pointerEvents = "auto";
        }
        function fechar() {
            const modal = document.querySelector(".modal-fundo");
            modal.style.opacity = 0;
            modal.style.pointerEvents = "none";
        }
    </script>


    <%-include("../../partials/head_objetos")%>
    <body>
        <%- include("../../partials/navbar")%>
        <!--MODAL!!!!!-->
            <div class="modal-fundo">
              <div class="modal-cont">
                <a onclick="fechar()" style="display: flex; align-self: flex-end; font-weight: bolder; color: gray; cursor: pointer;">X</a>
                <h1> Olá <%=result.username%>! Tem certeza que pretende continuar? </h1>
                <p> Apagar o chat é uma ação irreversível, não é possível recuperar as conversas. </p>
                <a href="/deleteChat" style="text-decoration: none; color: inherit;"> <button type="button" id="button-sair"> Apagar Chat </button> </a>
                <!-- <span class="fechar" onclick="fechar()">&times;</span> -->
              </div>
            </div>
        <header style="display: flex; justify-content: space-around;">
            <button onclick="abrir()"><h3>Limpar Chat</h3></button>
            <div>
                <h1>Nosso Chat <span style="font-size: 50%;"> (que não é o GPT) </span></h1>
            </div>
            <img src="/img/favicon.ico" height="100%">
        </header>
        <main>
             
            <div id="tela">
                <div id="tela_interna">
                <%for(let i = 0; i<result.length; i++) {%>
                    <%if(result[i].usuario == "Euu"){%>
                    <div class="propria" >
                        <p class="nome"><%=result[i].usuario%></p>
                        <p><%=result[i].mensagem %></p>
                        <p class="hora"><%=result[i].hora%></p>
                    </div>
                    <%} else {%>
                    <div class="mensagem" >
                        <p class="nome"><%=result[i].usuario%></p>
                        <p><%=result[i].mensagem %></p>
                        <p class="hora"><%=result[i].hora%></p>
                    </div>
                    <%}%>
                <% } %>
                </div>
                <form action="/mandarsms" method="POST" id="mandar"> 
                    <input placeholder="Digite a nova mensagem" name="mensagem" class="mens" autocomplete="off">
                    <input hidden name="user" value="<%=result.remetente%>">
                    <button type="submit" id="enviar"> > </button>
                </form>
            </div>
        </main>
    </body>
</html>

<style>
        nav a:first-child{
            margin-top: 5vh;
        }
    </style>