<!DOCTYPE html>
<html>
<%-include("../../partials/head_objetos")%>

    <body>
        <%- include("../../partials/navbar")%>
            <main>
                <% if(musicas.length> 0) { %>
                    <%for(let i=0; i<musicas.length; i++) { %>
                        <div class="item">
                            <p>ALERTA: Algumas cifras não funcionam corretamente</p>
                            <a target="_blank" href="https://www.cifraclub.com.br/<%=musicas[i].artist.name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/[^a-z0-9 ]/g, "").trim().replace(/\s+/g, "-");%>/<%=musicas[i].title.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/[^a-z0-9 ]/g, "").trim().replace(/\s+/g, "-");%>/">Cifra</a>
                            <h3>
                                <%=musicas[i].title%>: <%=musicas[i].id%>
                            </h3>
                            <h4>
                                <%=musicas[i].artist.name%>
                            </h4>
                            <h4>
                                <%=musicas[i].album.title%>
                            </h4>
                            <%if (musicas[i].album.cover) { %>
                                <img src="<%=musicas[i].album.cover%>">
                                <% } %>
                                    <h4>
                                        <%=musicas[i].duration%> minutos
                                    </h4>
                                    <% if(musicas[i].preview) { %>
                                        <audio controls style="width:70%">
                                            <source src="<%=musicas[i].preview%>" type="audio/mp3">
                                            Não foi possível carregar o áudio.
                                        </audio>

                                        <% } %>

                                            <div>
                                                <p>ALERTA: Excluir um volume é uma ação irreversível.</p>
                                            </div>

                                            <a href="/deleteMusica/<%=musicas[i].id%>"><button>Excluir da
                                                    lista!</button></a>
                        </div>
                        <%}%>
                            <div class="recado">
                                <h4>Adicionar novo hit??</h4>
                                <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                            </div>
                            <%} else {%>
                                <div class="recado">
                                    <h1 style="text-align: center;">Ainda não temos nenhum volume... Gostaria de adicionar algum?</h1>
                                    <a href="/add"><button style="width: 10vw;">CREATE</button></a>
                                </div>
                                <%}%>
            </main>
    </body>

</html>